.bg-pastel-red {
    background-color: #ffb3b3 !important; /* Rojo pastel */
}

.bg-pastel-blue {
    background-color: #b3d1ff !important; /* Azul pastel */
}

.bg-pastel-green {
    background-color: #b3ffb3 !important; /* Verde pastel */
}

.bg-beige {
    background-color: #f5f5dc !important; /* Fondo beige */
}